.satu {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    background-image: radial-gradient(circle closest-side, red, blue);
} 

.dua {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    background-image: radial-gradient(circle farthest-side, red, blue);
} 

.tiga {
    width: 600px;
    height: 300px;
    margin: 50px auto;
    background-image: radial-gradient(circle farthest-side at top left, red, blue);
} 